<div class="sidebar">
  <div class="container sidebar-sticky">
    <img src="dayoon.png" style="width:70%">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1> 
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About me</a>
      <a class="sidebar-nav-item" href="#education">Education</a>
      <a class="sidebar-nav-item{" href="#publication">Publications</a>
    </nav>
  </div>
</div>
